*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: color 0.2s;
    font-family: 'Open Sans', sans-serif !important;
}
/*navbar*/
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: #fdc073;
    height: 50px;
    padding: 1em;
  }
  .logo-nav a{
    text-decoration:none;
    color: #fdc073;
  }
  .logo-nav a:hover{
    color: antiquewhite;
  }
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  .menu a{
    text-decoration:none;
    color: #fdc073;
  }
  .menu a:hover{
    color: antiquewhite; 
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fdc073;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }

    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }

/*advantages*/
.advantages{
		padding: 5px;
        display: flex;
        gap: 1%;
}
.advantage{
	display: grid;
	grid-template-columns: 2fr 50fr;
    gap: 2%;
	padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
	/*background-color: #616161;*/
  
	border-radius: 5px;
	border-color: black;
}
.advantage:hover{
    /*background-color: rgb(110, 110, 110);*/
}
.advantagesTittle{
	text-align: center;
	color: #fdc073;
}
.advantageText{
  color: antiquewhite;
}

.advantageTitle{
  color: #fdc073;
}

.circle {
    width: 35px;
    height: 35px;
    overflow: hidden;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
}
.circle img {
    display: block;
    width:100%;
    border-radius: 50%;
}
/*footer*/
.footer{
    padding: 15px;
    background-color: #161616;
    display: grid;
    grid-template-columns: 7fr 7fr 7fr 7fr;
}
.links-title h3{
    color: #fdc073;
}
.links{
    padding: 5px;
}
.link{
    padding-top: 5px;
}
.link a{
    text-decoration: none;
    color: antiquewhite; 
}
.link a:hover{
    color: #fdc073;
}
.email{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 2fr 17fr 3fr;
    padding: 5px;
    background-color: #2b2b2b;
    border-radius: 10px;
    width: calc(100% / 1.5);
}

.email .envelope{
  width: 35px;
  height: 35px;
  overflow: hidden;
  padding: 5px;
}
.email input{
    background-color: #2b2b2b;
    color: antiquewhite;
    width: 75%;
    border-style: none;
    outline: 0;
    outline-offset: 0;
}

.btn{
    text-align: center;
    width: 35px;
    height: 35px;
    overflow: hidden;
    background: #616161;
    padding: 5px;
    border-radius: 50%;
}
.media{
    padding: 5px;
    display: flex;
}
.media > div{
    margin: 5px;
}
.underFooter{
    padding: 5px;
    width: 100%;
    background-color: #fdc073;
    text-align: center;
}

.btn:hover{
    color: antiquewhite;
    filter: drop-shadow(0 0 20px antiquewhite);
}
.inputSub[type=submit]{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
    background-color: #616161;
    border:0 none;
    cursor:pointer;
}
@media (max-width: 700px) {
    .footer{
        display: block;
    }
    .advantages{
        display: block;
    }
    
}
.services-bottom{
	background:url(../img/banner.jpg) no-repeat fixed;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
  min-height: 605px;
  padding: 15px 0 0 0;
}
